header {
    background: #000000;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #CCCCCC  ;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #7c3030;
    text-decoration: underline;
}

nav a:active {
    color: #f20707;
}
#banner {
	width: 1000px;
	height: 700;
	padding-left: 400px;
	padding-top: 50px;
	margin-bottom: 50px;

}


.principal {
    background-color: rgb(237, 237, 237); 
    margin: 0;
    padding: 20px; 
	margin-bottom: 40px;
}

.tituloCentralizado {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

.principal strong {
	font-weight:bolder;
}

.principal p {
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 20px;
	text-align: center;

}

.tituloPersonalizado{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

.itens {
	margin: 10px 10px 10px;
	font-size: 20px;
	text-align: center;
}

footer {
    text-align: center;
    background:  #000000;
    padding: 40px 0;
	margin-top: 50px;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin:20px 0 0;
}

